<!doctype html>
<html>	
<head>
<meta charset="UTF-8">
<title>Lisa Beaton Personal Page</title>
<link rel="stylesheet" href="CSS/general.css">
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width;initial-scale=1">
</head>

<body>

	<header>
		<nav>
			<ul>
				<li><a href="index.html">About</a></li>
				<li><a href="portfolio.html">Portfolio</a></li>
			</ul>
		</nav>
	</header>
	
	{% include social.html %}
	
	{{content}}
	
	
	</body>
</html>